.block {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
}

.heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.text {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

/* Цвета */
.block--blue {
    background-color: #007bff;
}

.block--grey {
    background-color: #76a7c0;
}
